<h1>Реєстрація нового користувача</h1>

<p>Будь ласка,внесіть свої данні в форму реєстрації:</p>

<%= form_for(User.new) do |f| %>

    <div class="field">
      <%= f.label :name %><br>
      <%= f.text_field :name %>
    </div>
    <div class="field">
      <%= f.label :email %><br>
      <%= f.email_field :email %>
    </div>
    <div class="field">
      <%= f.label :password %><br>
      <%= f.password_field :password %>
    </div>
    <div class="actions">
      <%= f.submit 'Зареєструватись!' %>
    </div>

<% end %>
