<!DOCTYPE html>
<html>
<head>
  <title>Testapp 1.0</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= link_to image_tag('logo.gif', width: 75), root_path %>
<br>
<%= link_to 'Реєстрація', registration_path  %>
<br>
<%= current_user.name if current_user%>
<%= link_to 'Вихід', sessions_logout_path  %>
<br>
<%= link_to 'Вхід', sessions_login_path %>



<%= yield %>

</body>
</html>
