<!DOCTYPE html>
<html>
<head>
  <title>Testapp 1.0</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<h1> Test app 1.0 <%= link_to image_tag('logo.gif', width: 50), root_path %> </h1>

    <li><%= link_to 'sign in', sessions_login_path %></li>
    <li>
     <%= current_user.name if current_user%>
     <%= link_to 'sign out', sessions_logout_path  %>
    </li>
    <li><%= link_to 'sign up', registration_path  %>  </li>



<%= yield %>

</body>
</html>
